@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 200;
  src: local('Exo 2 Extra Light'), local('Exo2-ExtraLight'), url(RFCNDwJa8dM0kzqVeuqPjPesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'), url(BjAYBlHtW3CJxDcjzrnZCIbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(-g5pDUSRgvxvOl5u-a_WHw.woff) format('woff');
}

body {
  padding-top: 20px;
  padding-bottom: 40px;
  font-family: 'Exo 2', sans-serif;
  color: gray;
  background: white;
}

.btn-main {
  margin-left: auto;
  margin-right: auto;
  clear: both;
  display: block;
}